@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");
@font-face {
  font-family: "Krungthep";
  src: url("/public/Krungthep.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-krungthep: Krungthep;
  --font-jetbrains-mono: "JetBrains Mono";

  /* font sizes */
  --font-size-9xl-8: 24px; /* Decreased font size */
  --font-size-4xl: 20px; /* Decreased font size */
  --font-size-base-8: 14px; /* Decreased font size */

  /* Colors */
  --color-white: #fff;
  --color-gray: #888;
  --color-lightsalmon: #ee8868;
  --color-lightgreen: #83c878;
  --color-darkslategray: #333;

  /* Gaps */
  --gap-mini-4: 45px;
  --gap-3xs-2: 12px;
  --gap-xs: 12px;
  --gap-5xs-4: 8px;
  --gap-12xs-4: 2px;
  --gap-3xs-1: 12px;
  --gap-4xs-2: 10px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-6xl-3: 25.3px;
  --padding-xl-4: 20.4px;
  --padding-xl: 20px;
  --padding-9xs-3: 3.3px;
  --padding-55xl-9: 74.9px;

  /* Border radiuses */
  --br-mini-4: 16px;
}
